.we-can-help {
    color:rgb(84, 101, 228);
    font-family: system-ui;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}

.need-assistance {
    text-align: center;
    font-family: system-ui;
    font-size: 23px;
    padding-top: 20px;
}

.phone-email-address-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: rgb(236, 137, 66);
    font-family: system-ui;
    border: 1px solid black;
}

.contact {
    font-weight: bold;
    font-size: 30px;
    padding-right: 5px;
    color: rgb(255, 255, 255);
}

.info {
    font-size: 20px;
}

.contact-us-box {
    width: 500px;
    height: 760px;
    margin: auto;
    border-radius: 3px;
    margin-top: 80px;
    padding-top: 40px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid black;
}

h2 {
    text-align: center;
    font-family: system-ui;
    font-size: 38px;
    padding-left: 20px;
    padding-right: 20px;
}

form{
    width: 300px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;;
    padding-top: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-family: system-ui;
}

form input {
    width: 133%;
    padding: 18px 10px 18px 10px;
    border: none;
    border: 2px solid rgb(146, 50, 66);
    border-radius: 6px;
    outline: none;
}

.discuss {
    padding-bottom: 130px;
}

.submit-button{
    padding: 20px 60px 20px 60px;
    border: none;
    border-radius: 30px;
    background-color: palevioletred;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
}

.submit-button:hover{
    cursor: pointer;
    background-color: rgb(119, 190, 213);
    transition: 0.5s;
}

